.button {
  background: transparent;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 12px;
  transition: background 0.5s, color 0.5s;
  &:hover {
    background: #000000db;
    color: white;
    transition: background 0.5s, color 0.5s;
  }
  &.logo,
  &.menu {
    border: none;
  }
  &.scrollup {
    position: fixed;
    bottom: 8vh;
    right: 5vw;
    z-index: 3001;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.2rem 0.5rem #0000001a, 0 0 0.05rem;
    background: #ffffff9a;
    border: none;
    img {
      height: 32px;
      width: 32px;
    }
  }
}
